In [8]:
name="saurabh"
print(type(name))
print(name)
print(len(name))
print(name[4])
print(name[1:4])
# for x in name:
#     print(x)
for x in name:
    if x=='u':
        print(x)
        break

<class 'str'>
saurabh
7
a
aur
u

## list

In [47]:
A=[1,3,10,4,5,6,7,8,9,2]
# print(A.append(44))
A
# print(A.count(8))
# print(A.clear())
A
# A.pop()
# A.index(4)
# A.insert(3)
# A
# A.remove(5)
# A.reverse()
# A.sort()
# A
print(A[5])
print(A[2:7])
print(len(A))
for x in A:
    if x ==10:
        continue
    print(x)

6
[10, 4, 5, 6, 7]
10
1
3
4
5
6
7
8
9
2

## dict

In [58]:
dic={"a":12,"b":14,"c":16}
# print(type(dic))
# print(dic)
# dic.items()
# dic.keys()
# dic.values()
# dic.keys()
# dic["a"]
# dic["b"]
# for xx in dic.keys():
#     print(xx)
# for i in dic.items():
#     print(i)
dic["a"]

('a', 12)
('b', 14)
('c', 16)

In [ ]:
len()

In [8]:
# two type 
# pri-define  already jo define hai 
# user-define  user ke through bnaye 
# len 
# print
def student():
    name = "Sourbh"
    classss = "bca"
    brach = "computer science"
    print(name,classss,brach)
student()

Sourbh bca computer science

In [9]:
student()

Sourbh bca computer science

In [3]:
a=0
while a<10:
    a+=2
    print(a)

2
4
6
8
10

In [4]:
a=10
while a<100:
    a+=5
    print(a)

15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
a=0
num={12,44,5,6,7,8,9,6,45,4,3,6,7,89,}
for x in num:
    print(x)
    print(type(num))

3
<class 'set'>
4
<class 'set'>
5
<class 'set'>
6
<class 'set'>
7
<class 'set'>
8
<class 'set'>
9
<class 'set'>
12
<class 'set'>
44
<class 'set'>
45
<class 'set'>
89
<class 'set'>

In [15]:
a={"saurabh":22,"clg":332001}
print(type(a))

<class 'dict'>

In [27]:
a=int (input("inter table number "))
for x in range(1,11):
    print(a*x)

6
12
18
24
30
36
42
48
54
60

In [ ]:
a=int(input("inter the table number "))
for x in range (1,21):
    print(a*x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

In [26]:
a=int (input("inter number"))
for x in range (1,6):
    print(a*x)

2
4
6
8
10

In [ ]:
class A:
    # method
class